*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: #fff
    font-family: 'Josefin Sans', sans-serif
    transition: .3s ease all
    .contenedor
        width: 90%
        max-width: 1400px
        margin: auto
        a 
            text-decoration: none

