header
    padding: 40px
    .header__logo
        text-align: center
        margin-bottom: 40px
        display: flex
        justify-content: center
        align-items: center

.header__foto-perfil
    width: 90px
    height: 90px
    border: 2px solid #9b9b9b
    border-radius: 100%
    margin-right: 20px

.header__descripcion
    color: #9b9b9b
    margin-top: 5px

.header__nombre
    color: #fff

.header__formulario
    width: 100%
    display: flex
    justify-content: center
    margin-bottom: 20px

.header__barra-busqueda
    width: 70%
    height: 40px
    line-height: 40px
    background: #fff
    padding: 0 20px
    border-radius: 100px
    border: none
    text-align: center
    font-size: 16px
    
.header__categorias
    display: flex
    justify-content: center
    flex-wrap: wrap

.header__enlace
    color: #9b9b9b
    margin: 10px 20px
    font-size: 18px
    font-weight: 700
.header__enlace.activo
    color: #fff