@media screen and (max-width: 700px) 
  .grid .item 
    width: calc(50% - 20px)
  

  .header__barra-busqueda 
    width: 100%
  

  .header__enlace 
    color: #9b9b9b
    margin: 10px 5px
    font-size: 14px
    font-weight: 300

  .overlay #btn-cerrar-popup
    display: none

  .overlay__redes-enlace
    width: 45px
    height: 45px

  .overlay__redes
    a i
        font-size: 20px
        line-height: 45px

  .overlay__img-grande
      max-width: 100%
  
