@media screen and (max-width: 900px) 
  .grid .item 
    width: calc(50% - 20px)
  

  .header__barra-busqueda 
    width: 100%

  .header__enlace,
  #header__info
    color: #9b9b9b
    margin: 10px 0px
    font-size: 16px
    font-weight: 300

  .header__menu
    display: flex
    justify-content: center

  .overlay__btn-cerrar-popup
    display: none

  .overlay__redes-enlace
    width: 45px
    height: 45px

  .overlay__redes
    a i
        font-size: 20px
        line-height: 45px

  .overlay__img-grande
      max-width: 100%

@media screen and (max-width: 700px) 
  .grid .item 
    width: calc(100% - 20px)

@media screen and (max-width: 450px) 
  
  .overlay__redes-enlace
    width: 35px
    height: 35px
    margin: 5px

  .overlay__redes
    a i
        font-size: 15px
        line-height: 35px

  