* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.3s ease all;
}
body .contenedor {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
body .contenedor a {
  text-decoration: none;
}

header {
  padding: 40px;
}
header .header__logo {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__foto-perfil {
  width: 90px;
  height: 90px;
  border: 2px solid #9b9b9b;
  border-radius: 100%;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(90, 116, 148, 0.3);
}
.header__foto-perfil:hover {
  opacity: 0.7;
  transition: 0.2s ease all;
}

.header__descripcion {
  color: #3d3d3d;
  margin-top: 5px;
}

.header__nombre {
  color: #3d3d3d;
}

.header__formulario {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header__barra-busqueda {
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  padding: 0 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 1px solid #727272;
  text-align: center;
  font-size: 16px;
  outline: none;
  box-shadow: 0 5px 5px rgba(90, 116, 148, 0.3);
}

.header__lupa {
  height: 40px;
  border: 1px solid #727272;
  border-left: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: #545454;
  background: #f8f8f8;
  padding: 0 25px;
  box-shadow: 0 5px 5px rgba(90, 116, 148, 0.3);
}

.header__categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header__enlace {
  color: #575757;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

.header__enlace.activo {
  color: #fff;
  background: #3d3d3d;
  padding: 10px;
  border-radius: 15px;
}

.header__switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  outline: none;
  margin-left: 50px;
}

.header__switch::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.header__switch.activo {
  background: orange;
  color: black;
}

.header__switch.activo::after {
  right: 0;
  left: unset;
}

.header__switch span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  background: none;
  color: #fff;
}

body.dark {
  background: #000;
}

.header__descripcion.dark,
.header__nombre.dark {
  color: #fff;
}

.grid {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
  opacity: 1;
}

.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.33333% - 20px);
  overflow: hidden;
}
.grid .item .item__contenido {
  position: relative;
}
.grid .item .item__imagen {
  width: 100%;
  cursor: pointer;
  vertical-align: top;
  transition: all 0.2s ease;
}
.grid .item .item__imagen:hover {
  transform: scale(1.2);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay.activo {
  display: flex;
}

.overlay__img-grande {
  max-width: 845px;
}

.overlay__descripcion {
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;
}

.overlay__contenedor-img {
  position: relative;
}

.overlay #btn-cerrar-popup {
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: 0px;
}

.overlay-info {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-info.activo {
  display: flex;
}

.overlay__titulo-bio {
  margin: 15px 0;
}

.overlay__bio {
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.overlay__contenedor-info {
  position: relative;
}

.overlay__btn-cerrar-popup {
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -360px;
  top: 5px;
}

.overlay__redes {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}
.overlay__redes a i {
  font-size: 20px;
  line-height: 60px;
}

.overlay__redes-enlace {
  display: block;
  width: 60px;
  height: 60px;
  background: #000;
  color: #fff;
  margin: 15px 20px 0 20px;
  text-align: center;
  border-radius: 100px;
}

.overlay__redes-enlace.facebook {
  background: #3b5998;
}
.overlay__redes-enlace.facebook:hover {
  background: #2f4677;
}

.overlay__redes-enlace.instagram {
  background: #c13584;
}
.overlay__redes-enlace.instagram:hover {
  background: #8a275f;
}

.contenedor__contacto-titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  margin: 35px 0 25px 0;
}

.formulario__contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formulario__grupo.nombre,
.formulario__grupo.email {
  display: inline-block;
}

.formulario__grupo {
  position: relative;
  margin: 45px;
}

.formulario__grupo input,
.formulario__grupo textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  resize: none;
}

.formulario__grupo input:focus,
.formulario__grupo textarea:focus {
  outline: none;
  color: #5e5d5d;
}

.formulario__barra {
  position: relative;
  display: block;
  width: 100%;
}

.formulario__grupo input:focus ~ .formulario__barra::before, .formulario__grupo textarea:focus ~ .formulario__barra::before {
  width: 100%;
}

.formulario__barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  transition: 0.3s ease all;
  left: 0%;
}

.formulario__boton {
  background: #FC5C7D;
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  display: block;
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}

footer .redes-sociales {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
footer .redes-sociales a i {
  font-size: 20px;
  line-height: 60px;
}

.redes-sociales__enlace {
  display: block;
  width: 60px;
  height: 60px;
  background: #000;
  color: #fff;
  margin: 20px;
  text-align: center;
  border-radius: 100px;
  transition: 0.3s ease all;
}

.redes-sociales__enlace.facebook {
  background: #3b5998;
}

.redes-sociales__enlace.instagram {
  background: #c13584;
}

.redes-sociales__contenedor-icono:hover a {
  animation: icono 0.5s ease;
}

@keyframes icono {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
@media screen and (max-width: 700px) {
  .grid .item {
    width: calc(50% - 20px);
  }

  .header__barra-busqueda {
    width: 100%;
  }

  .header__enlace {
    color: #9b9b9b;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 300;
  }

  .overlay__btn-cerrar-popup {
    display: none;
  }

  .overlay__redes-enlace {
    width: 45px;
    height: 45px;
  }

  .overlay__redes a i {
    font-size: 20px;
    line-height: 45px;
  }

  .overlay__img-grande {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .overlay__redes-enlace {
    width: 35px;
    height: 35px;
    margin: 5px;
  }

  .overlay__redes a i {
    font-size: 15px;
    line-height: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
